<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1>
        Welcome to {{ scope.remote.title }}!
    </h1>
    <ng-container *ngIf="sezione!=null">
        <h2>Sezione {{Translate(sezione)}}</h2>
    </ng-container>
    <ng-container *ngIf="image!=null">
        <img width="300" alt="{sezione}}" src="{{image}}">
    </ng-container>
</div>
<table style="min-width:540px;" width="100%" cellspacing="1" cellpadding="0" border="0">
    <tbody>
        <tr>
            <td align="center">
                <font class="TxtCs">
                    In questo forum ognuno può esprimere liberamente la propria opinione nei limiti stabiliti dal
                    <a href="http://www.statusmeteo.com/Pagine/Varie/Regolamento.asp">
                        <b>regolamento</b>
                    </a>. La qualità del forum dipende da quella dei vostri interventi. Fatene buon uso!
                </font>
            </td>
        </tr>
    </tbody>
</table>