.forum-main-title {
    width: 70%;
    vertical-align: middle;
    align-content: left;
}
.forum-main-tab0 img,
.forum-main-title span,
.forum-main-title img{
    margin:5px;
    vertical-align: middle;
    align-content: left;

}
.forum-main-rows{
    min-width:60px !important;
    max-width:60px !important;
    border: 0;
    float: right;
    font-size: 10px;
}
.forum-main-auth,
.forum-main-date {
    min-width:120px !important;
    max-width:120px !important;
    border: 0;
    float: right;
    font-weight: bold;
    font-size: 13px;
}
.f-tree-l0,
.f-tree-l1,
.f-tree-l2{
    width: 10px !important;
    min-width: 10px !important;
}
.f-title{
    padding-left: 15px;
}
.forum-img-1 {
    border-left:0px dotted black;
    border-right:0px dotted black;
    border-top:0px dotted black;
    border-bottom:1px dotted black;
    padding-bottom: 1px;
}
.forum-img-2,.forum-img-3,.img-span-3 {
    border-left:1px dotted black;
    border-right:0px dotted black;
    border-top:0px dotted black;
    border-bottom:1px dotted black;
    padding-left:5px;
    padding-bottom: 1px;
}
.f-sub-title-3 ,
.f-sub-title-2 ,
.f-sub-title-1 ,
.f-sub-title-0 {

    font-size: 10px;
    color: #6b6b6b;
    font-weight: normal;

}
