<mat-expansion-panel [expanded]="step === 0" (opened)="doaction('selforum',itm);" hideToggle>
    <mat-expansion-panel-header class='forum-row-{{itm.lvl}}' *ngIf="itm['lvl'] != 0" >
        <mat-panel-title class='forum-main-title'>
            <div class="f-tree-l0">
                <img  class='forum-img-{{itm.lvl}}' *ngIf="itm['lvl']==0" src="assets/S_ThrNew.gif">
                <img  class='forum-img-{{itm.lvl}}' *ngIf="itm['lvl']==1" src="assets/N_thrnew.gif">
                <img  class='forum-img-{{itm.lvl}}' *ngIf="itm['lvl']>1" src="assets/N_ThrAns.gif">
            </div>
            <span *ngIf="itm['lvl'] != 1" class="f-title">
                <b>{{itm.sbj}}</b><br>
                <span class="f-sub-title-{{itm.lvl}}">{{Translate(itm.cat)}} - {{itm.lbl}}</span>
            </span>
            <span *ngIf="itm['lvl'] == 1" class="f-title">
                <b>{{Translate(itm.cat)}} - {{itm.lbl}}</b><br>
                <span class="f-sub-title-{{itm.lvl}}">{{itm.sbj}}</span>
            </span>
        </mat-panel-title>
        <mat-panel-description class='forum-main-rows'>
            <!--
            Msg: {{itm.cnt}}
            !-->
            {{itm.cnt}}
        </mat-panel-description>
        <mat-panel-description class='forum-main-auth'>
            <!--
            Cat: {{Translate(itm.cat)}}<br>
            Usr: {{itm.lun}}<br>
            Loc: {{itm.lps}}
            !-->
            {{removetag(itm.lun)}}<br>
            {{itm.lps}}
        </mat-panel-description>
        <mat-panel-description class='forum-main-date'>
            {{removesec(itm.lst)}}
        </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-expansion-panel-header *ngIf="itm['lvl']==0" class="row" class='forum-subrow-{{itm.lvl}}'>
        <span [innerHTML]='itm.dsc'></span>
    </mat-expansion-panel-header>
    <div class='row' *ngIf="itm['lvl']!=0" [innerHTML]='itm.dsc'>
    </div>
    <mat-action-row>
        <button mat-button color="primary" (click)="New()">New</button>
        <button mat-button color="primary" (click)="Add()">Add</button>
        <button mat-button color="primary" (click)="Reply()">Reply</button>
        <button mat-button color="primary" (click)="Change()">Change</button>
        <button mat-button color="primary" (click)="Delete()">Delete</button>
    </mat-action-row>
</mat-expansion-panel>
<ng-container *ngFor="let subitm of topics">
    <ng-container *ngIf="checkitm(subitm)">
        <forumRowLine-ln4 [LstItem]="lst" [RowItem]="subitm"></forumRowLine-ln4>
    </ng-container>
</ng-container>
