<h2 mat-dialog-title>Editor: {{action}}</h2>
<ng-container *ngIf="isEdit()">
    <span style='font-size: 8px;'>{{data.name}}/{{data.catid}}/{{data.docid}}</span>
    <div class='row'>
        <input readonly matInput name="data.lun" value='{{data.lun}}' placeholder='From User' style="width:25%;">
        <input readonly matInput name="data.lgr" value='{{data.lgr}}' placeholder='From Group' style="width:25%;">
        <input readonly matInput name="data.lst" value='{{data.lst}}' placeholder='From Date' style="width:25%;">
        <button mat-button ngDefaultControl [mat-dialog-close]='false' (click)='Save()' style="width:25%;">Enter</button>

    </div>
    <HR>
    <div class='row'>
        <mat-select matInput name='data.cat' [(ngModel)]='data.cat' style="width:100%;">
            <mat-option *ngFor="let item of forumList " [value]="item">{{Translate(item)}}</mat-option>
        </mat-select>
    </div>
    <HR>
    <div class='row'>
        <ng-container *ngIf="isro()==false">
            <input readonly matInput value='{{data.lbl}}' placeholder='Topic' style="width:100%;">
        </ng-container>
        <ng-container *ngIf="isro()==true">
            <input matInput [(ngModel)]='data.lbl' placeholder='Topic' style="width:100%;">
        </ng-container>
    </div>
    <HR>
    <div class='row'>
        <input matInput [(ngModel)]='data.sbj' placeholder='Subject' style="width:100%;">
    </div>
    <HR>
    <div class='row'>
        <input matInput [(ngModel)]='data.lps' placeholder='Location Area' style="width:100%;">
    </div>
    <HR>
    <br>
    <div class='row'>
        <angular-editor  [config]="editcfg()" [(ngModel)]='data.dsc' debounce='500'></angular-editor>
        <hr>
        <div [innerHTML]='data.dsc'>
        </div>
    </div>
    <div class='row'>
        <button mat-button name='ok' [mat-dialog-close]='false' (click)='Save()' style="width:100%;">Enter</button>
    </div>
</ng-container>