<table style="width:100%; min-width:540px; border:0px; padding:0px; padding-top:8px; padding-bottom:3px;">
    <tbody>
        <tr>
            <form method="GET" action="main.asp"></form>
            <td style="vertical-align:baseline; text-align:left; height:20px;" nowrap="nowrap">
                <input onclick="this.form.submit();" name="FS" value="N" type="radio">
                <a href="http://www.statusmeteo.com/main.asp?FS=N">
                    <font class="TxtLm" color="Blue">
                        <strong>Nowcasting</strong>
                    </font>
                </a>
                <input onclick="this.form.submit();" name="FS" value="D" type="radio">
                <a href="http://www.statusmeteo.com/main.asp?FS=D">
                    <font class="TxtLm" color="#7E5530">
                        <strong>Discussioni</strong>
                    </font>
                </a>
                <input onclick="this.form.submit();" name="FS" value="S" checked="checked" type="radio">
                <a href="http://www.statusmeteo.com/main.asp?FS=S">
                    <font class="TxtLxl" color="Green">
                        <strong>Strumentazione</strong>
                    </font>
                </a>
                <input onclick="this.form.submit();" name="FS" value="X" type="radio">
                <a href="http://www.statusmeteo.com/main_frame.asp?FS=X">
                    <font class="TxtLm" color="Red">
                        <strong>Mix</strong>
                    </font>
                </a>
            </td>

        </tr>
        <tr>
            <td style="vertical-align:baseline; text-align:justify;">
                <font class="TxtLs">

                    Discussioni sulla strumentazione meteo e dispositivi annessi, loro efficacia ed opportuno posizionamento, problemi incorsi
                    durante l'utilizzo, consigli di acquisto e racconto delle proprie esperienze. Come per l'area
                    "Discussioni", i thread verranno riportati in evidenza dagli aggiornamenti. Titoli adeguati favoriranno
                    una migliore ricercabilità delle informazioni.

                </font>
            </td>
        </tr>
    </tbody>
</table>