.mat-tab-active-span {
    font-size: 30px  !important;
}
.mat-tab-label-content,
.mat-tab-label,
.sm-tab {
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
    font-size: 13px;
    font-weight: bold !important;
}
.casting {
    color:blue;
}
.ot {
    color:#7E5530;
}
.talk {
    color:green;
}
.funghi {
    color:red;
}
