<forum-head-ln4 [IdForum]="myId" [ListForums]="frmlst" [pageForums]="frmpg"></forum-head-ln4>
<mat-accordion class="forum-headers-align">
    <ng-container *ngFor="let cvar of frmlst ">
        <ng-container *ngIf="cvar">
            <mat-expansion-panel [expanded]="step === 1" (opened)="doaction('selforum',{label:cvar})" showToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title class='forum-main-title'>
                        <div class="f-tree-l0">
                            <img src="assets/S_ThrNew.gif">
                        </div>
                        <div class="f-tree-l1">
                        </div>
                        <div class="f-tree-l2">
                        </div>
                        <span class="f-title">{{Translate(cvar)}}</span>
                    </mat-panel-title>
                    <mat-panel-description class='forum-main-tab0'>
                        Msg: {{ scope.remote.forumVals[cvar].total}}
                    </mat-panel-description>
                    <mat-panel-description class='forum-main-tab1'>
                        Cat: {{Translate( scope.remote.forumVals[cvar].cat)}}<br>
                        Usr: {{ scope.remote.forumVals[cvar].lun}}<br>
                        Loc: {{ scope.remote.forumVals[cvar].lps}}
                    </mat-panel-description>
                    <mat-panel-description class='forum-main-tab2'>
                        Dat: {{ scope.remote.forumVals[cvar].lst}}
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <div [innerHTML]='scope.remote.forumVals[cvar].dsc'></div>

                <ng-container *ngFor="let itm of scope.remote.forumVals[cvar]['topics']">
                    <ng-container *ngIf="checkitm(itm)">
                        <forumRow-ln4 [RowItem]="itm"></forumRow-ln4>
                    </ng-container>
                </ng-container>
                <mat-action-row>
                    <button mat-button color="primary" (click)="authdialog('EditorComponent',{Action:replay,forum:cvar,forumList:[cvar]})">New</button>
                    <button mat-button color="primary" (click)="calldialog('ShareComponent',{Action:Share,forum:cvar})">Share</button>
                </mat-action-row>
            </mat-expansion-panel>
        </ng-container>
    </ng-container>
</mat-accordion>
<forum-head-ln4 [ListForums]="frmlst" [pageForums]="frmpg"></forum-head-ln4>