<title>{{scope.remote.title}}</title>
    <meta name="title" content="{{scope.remote.title}}" />
    <meta name="description" content="{{scope.remote.desc}}"  />
    <meta http-equiv="content-language" content="Italiano" />
    <meta name="KEYWORDS" content="previsioni, meteo, lombardia, tempo, weather, webcam, satelliti, meteosat, radar, cartina,
                      nowcasting, grandine, fulmini, ghiaccio, neve, sole, pioggia, nebbia, temporali, tornado, uragano, ciclone, clima, climatologia,
                      microclima, primavera, estate, inverno, autunno, italia, italy, mediterraneo, pianura padana, piemonte, liguria, veneto, friuli,
                      trentino, alto adige, emilia, romagna, toscana, alpi, appennini, montagna, vacanze, viaggi, ambiente, energia, strumenti, 
                      fotografia, immagini, messaggi, ipad, android, smartphone, mobile, EXPO2015" />
    