<div style="padding:14px;" align="center">
    <table width="640" cellspacing="1" cellpadding="1" bordercolor="#000080" border="1">
        <tbody>
            <tr class="Fix" style="font-weight:bold;" bgcolor="#000080">
                <td width="53%">Immagini dai satelliti ( © Eumetsat 2018 )</td>
                <form method="POST" action="main.asp" target="_top"></form>

                <input name="Pg" value="1" type="hidden">

                <input name="FN" value="" type="hidden">
                <input name="FD" value="" type="hidden">
                <td width="15%">
                    <input onclick="this.form.submit();" name="SatPos" value="Up" type="radio">Su
                    <input onclick="this.form.submit();" name="SatPos" value="Down" checked="checked" type="radio">Giù
                </td>

                <form method="POST" action="main.asp"></form>

                <input name="Pg" value="1" type="hidden">

                <input name="FN" value="" type="hidden">
                <input name="FD" value="" type="hidden">
                <td width="32%">
                    <input onclick="this.form.submit();" name="SatVar" value="On1" checked="checked" type="radio">1
                    <input onclick="this.form.submit();" name="SatVar" value="On2" type="radio">2
                    <input onclick="this.form.submit();" name="SatVar" value="On3" type="radio">3
                    <input onclick="this.form.submit();" name="SatVar" value="On4" type="radio">4
                    <input onclick="this.form.submit();" name="SatVar" value="Off" type="radio">Off
                </td>

            </tr>
            <tr>
                <td colspan="3" bordercolorlight="#FFFFFF" bordercolordark="#000000" bgcolor="#F1F1F7" align="center">
                    <p style="word-spacing: 0; margin: 0" align="center">
                        <font size="1">
                            <font color="red">
                                <b>L'ora indicata sulle immagini satellitari è in formato UTC:
                                    <font color="black"> occorre aggiungere 1 ora con
                                        <font color="green">
                                            <i> l'ora solare (invernale)</i> e
                                            <font color="black"> 2 ore con
                                                <font color="green">
                                                    <i> l'ora legale (estiva).</i>
                                                    <font color="black"></font>
                                                </font>
                                            </font>
                                        </font>
                                    </font>
                                </b>
                                <font color="black">
                                    <font color="green">
                                        <font color="black">
                                            <font color="green">
                                                <font color="black">
                                                </font>
                                            </font>
                                        </font>
                                    </font>
                                </font>
                            </font>
                        </font>
                    </p>
                    <font size="1">
                        <font color="red">
                            <font color="black">
                                <font color="green">
                                    <font color="black">
                                        <font color="green">
                                            <font color="black">
                                            </font>
                                        </font>
                                    </font>
                                </font>
                            </font>
                        </font>
                    </font>
                </td>
            </tr>

            <tr>

                <td colspan="3" bordercolorlight="#FFFFFF" bordercolordark="#000000" bgcolor="#F1F1F7">
                    <div style="position: relative; width:845; height:615; overflow:hidden; border:0px solid black">
                        <a href="http://www.sat24.com/" target="_blank">
                            <img src="assets/image2.gif" title="http://www.sat24.com" style="position:relative; top:0; left:0;"
                                border="0">
                        </a>
                    </div>
                </td>

            </tr>
        </tbody>
    </table>
</div>