<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <table width="100%" cellspacing="1" cellpadding="0" border="0">
        <tbody>
            <tr>
                <td align="center">
                    <font class="TxtCs">
                        <b>© {{scope.remote.copyright}} </b> -
                        <a href="{{scope.remote.privacyurl}}"
                            target="_blank" title="Informativa Privacy">Informativa Privacy</a>
                    </font>
                </td>
            </tr>
        </tbody>
    </table>
</div>


