<mat-expansion-panel [expanded]="step === 0" (opened)="doaction('selforum',itm);" hideToggle>
    <mat-expansion-panel-header class='forum-row-{{itm.lvl}}'>
        <mat-panel-title class='forum-main-title'>
            <div class="f-tree-l0">
                <img *ngIf="itm['lvl']==0" src="assets/S_ThrNew.gif">
                <img *ngIf="itm['lvl']==1" src="assets/N_thrnew.gif">
                <img *ngIf="itm['lvl']>1" src="assets/N_ThrAns.gif">
            </div>
            <span *ngIf="itm['lvl'] == 1" class="f-title">
                <b>{{itm.sbj}}</b><br>
                {{itm.lbl}}
            </span>
            <span *ngIf="itm['lvl'] != 1" class="f-title">
                <b>{{itm.lbl}}</b><br>
                {{itm.sbj}}
            </span>
        </mat-panel-title>
        <mat-panel-description class='forum-main-tab0'>
            Msg: {{itm.cnt}}
        </mat-panel-description>
        <mat-panel-description class='forum-main-tab1'>
            Cat: {{Translate(itm.cat)}}<br>
            Usr: {{itm.lun}}<br>
            Loc: {{itm.lps}}
        </mat-panel-description>
        <mat-panel-description class='forum-main-tab2'>
            Dat: {{itm.lst}}
        </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-expansion-panel-header *ngIf="itm['lvl']!=1" class="row" class='forum-subrow-{{itm.lvl}}'>
        <span [innerHTML]='itm.dsc'></span>
    </mat-expansion-panel-header>
    <div class='row' *ngIf="itm['lvl']==1" [innerHTML]='itm.dsc'>
    </div>
    <ng-container *ngFor="let subitm of itm['topics']">
        <ng-container *ngIf="checkitm(subitm)">
            <forumRow-ln4 [LstItem]="lst" [RowItem]="subitm"></forumRow-ln4>
        </ng-container>
    </ng-container>
    <mat-action-row>
        <button mat-button color="primary" (click)="New()">New</button>
        <button mat-button color="primary" (click)="Add()">Add</button>
        <button mat-button color="primary" (click)="Reply()">Reply</button>
        <button mat-button color="primary" (click)="Change()">Change</button>
        <button mat-button color="primary" (click)="Delete()">Delete</button>
    </mat-action-row>
</mat-expansion-panel>