<h2 mat-dialog-title>Editor</h2>
<div class='row'>
    <input readonly matInput name="from" value='{{from}}' placeholder='From User' style="width:50%;">
    <input readonly matInput name="fromG" value='{{fromG}}' placeholder='From Group' style="width:50%;">
</div>
<HR>
<div class='row'>
    <Select matInput [ngModel]='forum' style="width:100%;">
        <option *ngFor="let item of forumList " value="{{item}}">{{Translate(item)}}</option>
    </Select>
</div>
<HR>
<div class='row'>
    <ng-container *ngIf="topicR">
        <input readonly matInput value='{{topic}}' placeholder='Topic' style="width:100%;">
    </ng-container>
    <ng-container *ngIf="!topicR">
        <input matInput [(ngModel)]='topic' placeholder='Topic' style="width:100%;">
    </ng-container>
</div>
<HR>
<div class='row'>
    <input matInput [(ngModel)]='subject' placeholder='Subject' style="width:100%;">
</div>
<HR>
<div class='row'>
    <input matInput [(ngModel)]='area' placeholder='Location Area' style="width:100%;">
</div>
<HR>
    <br>
<div class='row'>
    <ckeditor [(ngModel)]='content' debounce='500'></ckeditor>
    <div [innerHTML]='content'>
    </div>
</div>
<div class='row'>
    <button mat-button [mat-dialog-close]='true' (click)='Save()'>Enter</button>
</div>