/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
#menuforum {
    width:100%;
    min-width:540px;
    position:absolute;
    top:0px; left:0px; 
    padding:5px; 
    text-align:left;
    height: 30px;
    background-color: #339966;
    color:#EFEFEF;
    vertical-align: middle;
    font-weight: bold;
    font-size: 13px;
    font-family: Verdana,Geneva,sans-serif; 
}
#menuforum button {
    border:0px;
    background-color: #339966;
    color:#EFEFEF;
    vertical-align: middle;
    font-weight: bold;
    font-size: 13px;
    font-family: Verdana,Geneva,sans-serif; 
}
.mat-menu-panel{
    background-color: #339966;
    color:#EFEFEF;
    margin-top:20px;
}
xbutton[ng-reflect-menu=it1] {
}
a.mat-menu-item {
    color: white !important;
    font-style: normal;
    font-size: small;
    font-family: Verdana,Geneva,sans-serif; 
}
button {
    border:1px solid #339966;
    background-color: #EFEFEF;
    COLOR: #0000A0;
}